
.movieDetailWrapper {
	padding: 20px 0 29px;
	background-color: #232323;
	min-height: 396px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 35px;
}
