.moviesWrapper {
	background: #232323;
	border-top: 10px solid rgba(136, 136, 136, 0.5);
}

.movies {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  gap: 60px 35px;
	padding: 24px 0;
}

.filterAndSort {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #424242;
}
