$norway-green: #AFBEA2;
$white: #fff;

.searchForm {
	background: $norway-green;
	padding: 80px 0;

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	&__title {
		margin-bottom: 30px;
		color: $white;
		text-align: center;
	}
}
