$qicksand: #BA9B8D;
$Buccaneer: #6F323C;
$border-color: #F65261;

.genreSelect {
	display: flex;
	flex-direction: column;

	&__title {
		color: $Buccaneer;
		margin-bottom: 30px;
		text-align: center;
	}

	&__list {
		display: flex;
		text-transform: uppercase;
		list-style: none;

		li {
			margin-right: 30px;
			transition: all  ease-in-out;
			padding: 20px 0;
			button {
				color: #FFFFFF;
				font-weight: 500;
				font-size: 16px;
				text-decoration: none;
				border: none;
				background: transparent;
				cursor: pointer;
			}
		}
	}
}

.active {
	border-bottom: 4px solid $border-color;
}
