.header {
	position: relative;
	padding: 20px 0 29px;
	background: url('../../assets/images/header-bg.png') #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 396px;

	&__title {
		margin-bottom: 38px;
		font-weight: 300;
		font-size: 40px;
		line-height: 49px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	.btnLink {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 177px;
		height: 46px;
		color: #F65261;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		text-transform: uppercase;
		border-radius: 4px;
		background: rgba(96, 96, 96, 0.68);
		transition: all .3s ease-in-out;
		text-decoration: none;

		&:hover {
			background: rgba(96, 96, 96, 0.9);
		}
	}
}

.logoButtonWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 35px;
}
