.header {
	position: relative;
	padding: 20px 0 29px;
	background: url('../../assets/header-bg.png') #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 396px;

	&__title {
		margin-bottom: 38px;
		font-weight: 300;
		font-size: 40px;
		line-height: 49px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
}

.logoButtonWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 35px;
}
